#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

html {
 background-image: url("Court.jpg");
 background-color: #cccccc;
 background-size: 75%
}

img.ball {  
max-width: 3.75%; 
animation: rotation 1s infinite linear;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

img.animated-gif {
max-width: 25%;
height: auto;
}


